.btns {
  height: 30px;
  padding: 5px;

  border: 1px solid #dcdcdc;
  border-radius: 10px;
  margin: 10px;
}

.color {
  background-color: #f3aa4e;
  color: #131213;
}
.color2 {
  color: #fff;
  background-color: transparent;
}
li {
  list-style: none;
}
