.carddiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  width: 100%;
  list-style: none;
  background-color: #131213;
  margin: 5px;
}

.cardbtn {
  height: 30px;
  padding: 5px;
  color: #000;
  background-color: #f3aa4e;
  border-radius: 10px;
}
